<div class="jumbotron">
    <!-- <p>{{ 4 + 3 }}</p> -->
    <header class="row">
        <img class="thumbnail col-md-2 col-md-offset-3" src="../img/icon1.jpg" alt="">
        <h2>tweetbot</h2>
    </header>
    <div class="col-md-6 col-md-offset-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for #hashtags, @mentions or keywords...">
            <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
        </div>
        <!-- /input-group -->
    </div>
    <!-- /.col-lg-6 -->
</div>
